button {
    width: fit-content;
    align-self: center;
}

.pokemon {
    max-width: 350px;
    border: 1px solid black;
    margin-right:30px;
    margin-top: 30px;
}
img{
    display: block;
    max-width: 100%;
}